---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/heading.astro";
---

<Layout title="home">
  <div class="mx-auto">
    <header class="flex justify-between px-6 py-6">
      <div>
        <img
          class="h-6"
          src="https://www.wealthsimple.com/static/ws-wordmark-refresh-aefa986e4074a84f853576304d0c9763.svg"
        />
      </div>

      <div class="flex gap-2">
        <div class="rounded-full border border-gray-500 px-5 py-[10px]">
          Login
        </div>
        <div
          class="rounded-full border border-gray-500 bg-zinc-800 px-5 py-[10px] text-white"
        >
          Get started
        </div>
      </div>
    </header>
    <main class="mx-auto flex max-w-7xl flex-col gap-40">
      <div class="flex items-center justify-between gap-16">
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h1 class="max-w-[390px] text-6xl font-medium">
              Buy, sell, and earn crypto
            </h1>
            <div class="max-w-[400px] leading-6 text-zinc-700">
              Trade and stake coins with confidence on Canada's first regulated
              crypto platform.
            </div>
          </div>

          <button
            class="duration-00 w-fit rounded-full bg-zinc-800 px-6 py-4 text-white transition hover:bg-zinc-600"
            >Get started</button
          >
        </div>
        <video
          class="h-[660px] rounded-2xl"
          autoplay=""
          poster="https://images.ctfassets.net/v44fuld738we/5bZC38cCy0aA5NEDHK0zG5/048d78f10ac8c992f27c6748269c6ab4/Crypto-Hero-Fallback.png?w=2000&h=2000&q=92&fm=png&bg=transparent"
          muted=""
          loop=""
          preload="auto"
          disableremoteplayback=""
          playsinline=""
          aria-label="video"
          aria-describedby="desc-fb8a88c114ae2475a79634b64f443f7bCrypto-Herowebm"
          ><source
            type="video/webm"
            src="//videos.ctfassets.net/v44fuld738we/5udl0cGbdvwZO6qvHRgmYE/fb8a88c114ae2475a79634b64f443f7b/Crypto-Hero.webm"
          /><source
            type="video/mp4"
            src="//videos.ctfassets.net/v44fuld738we/5OPsrkq8lKo1iIjyH4Wmk3/315109cb6c2be622e02141a01c4a077a/Crypto-Hero-2.mp4"
          /><track kind="captions" src="" /></video
        >
      </div>
      <div class="flex flex-col items-center">
        <h2 class="max-w-[800px] text-center text-6xl font-medium">
          Trade Bitcoin, Ethereum, Solana and 60+ other coins.
        </h2>
        <div>
          <video
            class="h-[660px]"
            style=""
            aria-hidden="false"
            autoplay=""
            poster="https://images.ctfassets.net/v44fuld738we/GIn2k9yFQthEig5oDHxtw/8017608c16f2b3ef8d33ca2b65aa6369/crypto-hero-b.png?w=1600&h=1000&q=92&fm=png&bg=transparent"
            muted=""
            loop=""
            preload="auto"
            disableremoteplayback=""
            playsinline=""
            aria-label="video"
            aria-describedby="desc-19dd4c457b03e7d077f2dc6ecbd0aeb7crypto-hero-bmp4"
            ><source
              type='video/mp4; codecs="hvc1"'
              data-src="//videos.ctfassets.net/v44fuld738we/7sTRzeWvhDIUPiO7zDZuaw/19dd4c457b03e7d077f2dc6ecbd0aeb7/crypto-hero-b.mp4"
              src="//videos.ctfassets.net/v44fuld738we/7sTRzeWvhDIUPiO7zDZuaw/19dd4c457b03e7d077f2dc6ecbd0aeb7/crypto-hero-b.mp4"
            /><source
              type="video/webm"
              data-src="//videos.ctfassets.net/v44fuld738we/7esCX6t8nZZ9B6vbaUhWBc/16cc9fa3cce5a355c5bfaf0b7085b92e/crypto-hero-b.webm"
              src="//videos.ctfassets.net/v44fuld738we/7esCX6t8nZZ9B6vbaUhWBc/16cc9fa3cce5a355c5bfaf0b7085b92e/crypto-hero-b.webm"
            /><track kind="captions" src="" /></video
          >
        </div>
      </div>
      <div class="grid grid-cols-5 gap-6">
        <div
          class="relative col-span-2 overflow-hidden rounded-2xl bg-zinc-100 p-12"
        >
          <div class="relative z-10 flex flex-col gap-6">
            <h3 class="text-5xl font-medium">Start trading instantly</h3>
            <p class="text-xl">
              Sign up and get started in minutes — there's no need to wait for
              funding. Core clients can instantly deposit up to $50,000, and
              Premium and Generation clients up to $250,000. And with no account
              minimums, you can buy, sell, and earn crypto at your own pace.
            </p>
          </div>
          <img
            class="absolute -bottom-56 -right-56"
            src="https://www.wealthsimple.com/static/539886035f848f88ecbd6f18b7138cdf/7ca9f/Instant-Deposits-Coins.png"
          />
          <div class="h-56"></div>
        </div>
        <div
          class="relative col-span-3 flex flex-col gap-6 rounded-2xl bg-zinc-100 p-12"
        >
          <h3 class="flex text-5xl font-medium">Stay on top of the market</h3>
          <p class="text-xl">
            Crypto news in the app gets you real time insights for select coins.
            And with price alerts, you can make trading decisions quickly —
            without being glued to your phone.
          </p>
          <img class="absolute bottom-12 right-12 w-96" src="/eth.png" />
        </div>

        <div
          class="relative col-span-5 rounded-2xl bg-zinc-100 p-12 text-center"
        >
          <div class="relative z-10 flex flex-col items-center gap-6 px-32">
            <p
              class="rounded-md bg-[#EFDDF0] px-2 py-0.5 font-medium text-[#804B83]"
            >
              Available for Ethereum, Solana, Cardano & Polkadot
            </p>
            <h3 class="max-w-lg text-balance text-5xl font-medium">
              Stake and earn up to 12% per year
            </h3>
            <p class="text-xl">
              Earn rewards on your crypto. Stake your coins in just a couple
              taps, and the rewards are automatically deposited in your account.
              Rewards vary by crypto tokens. Learn more.
            </p>
          </div>
          <video
            class="absolute bottom-0"
            style=""
            aria-hidden=""
            autoplay=""
            poster="https://images.ctfassets.net/v44fuld738we/Yw7f4oHn590HxHmTyuW2e/218d074da5a40a06832d4756b4950b2b/refreshCryptoStaking-en-CA.png?w=1200&h=675&q=92&fm=png&bg=transparent"
            muted=""
            loop=""
            preload="auto"
            disableremoteplayback=""
            playsinline=""
            aria-label="video"
            aria-describedby="desc-607cf9a73365d2fc9522551c9d1699efrefreshCryptoStaking-h265-en-CAmp4"
            ><source
              type='video/mp4; codecs="hvc1"'
              data-src="//videos.ctfassets.net/v44fuld738we/JXaRquSomudod074MSG3a/607cf9a73365d2fc9522551c9d1699ef/refreshCryptoStaking-h265-en-CA.mp4"
              src="//videos.ctfassets.net/v44fuld738we/JXaRquSomudod074MSG3a/607cf9a73365d2fc9522551c9d1699ef/refreshCryptoStaking-h265-en-CA.mp4"
            /><source
              type="video/webm"
              data-src="//videos.ctfassets.net/v44fuld738we/20KAHI4bHV0S7Nkr0oNAgD/22850d31b3db49d8900d57aac8d6aa28/refreshCryptoStaking-en-CA.webm"
              src="//videos.ctfassets.net/v44fuld738we/20KAHI4bHV0S7Nkr0oNAgD/22850d31b3db49d8900d57aac8d6aa28/refreshCryptoStaking-en-CA.webm"
            /><track kind="captions" src="" /></video
          >
          <div class="h-[400px]"></div>
        </div>

        <div
          class="relative col-span-3 flex flex-col gap-6 overflow-hidden rounded-2xl bg-zinc-100 p-12"
        >
          <h3 class="flex text-5xl font-medium">Send and receive with ease</h3>
          <p class="text-xl">
            Transfers let you move your crypto to or from Wealthsimple in just a
            few taps.
          </p>
          <div class="h-[500px]"></div>
          <video
            class="absolute -bottom-48"
            style=""
            aria-hidden=""
            autoplay=""
            poster="https://images.ctfassets.net/v44fuld738we/29SVEIq7sZv6cEZN7VPFwU/b14c5fee5ddc5bc9a4a3a7f93eb8efe0/refreshCryptoTransfers.png?w=1000&h=1000&q=92&fm=png&bg=transparent"
            muted=""
            loop=""
            preload="auto"
            disableremoteplayback=""
            playsinline=""
            aria-label="video"
            aria-describedby="desc-214f42cf2347579a424b5a287ef7b864Crypto-Transfersmp4"
            ><source
              type='video/mp4; codecs="hvc1"'
              data-src="//videos.ctfassets.net/v44fuld738we/5NLvUNTVrqdzDfCHnLXTT9/214f42cf2347579a424b5a287ef7b864/Crypto-Transfers.mp4"
              src="//videos.ctfassets.net/v44fuld738we/5NLvUNTVrqdzDfCHnLXTT9/214f42cf2347579a424b5a287ef7b864/Crypto-Transfers.mp4"
            /><source
              type="video/webm"
              data-src="//videos.ctfassets.net/v44fuld738we/2EkTkF2QzeAqrhsVxmLFNk/9e1d43d6df7eec0b3eef38c20072deaa/Crypto-Transfers.webm"
              src="//videos.ctfassets.net/v44fuld738we/2EkTkF2QzeAqrhsVxmLFNk/9e1d43d6df7eec0b3eef38c20072deaa/Crypto-Transfers.webm"
            /><track kind="captions" src="" /></video
          >
        </div>
        <div
          class="col-span-2 flex flex-col gap-6 rounded-2xl bg-zinc-100 p-12"
        >
          <h3 class="flex text-5xl font-medium">Trade on your terms</h3>
          <p class="text-xl">
            Automatically buy any amount of your favourite coins on a schedule.
            If you have a target price to buy/sell at, we'll execute the order
            if the coin hits that price.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-2 items-center gap-24">
        <div class="flex flex-col gap-10">
          <h2 class="text-5xl font-medium">Keep your crypto safe</h2>
          <div class="rounded-2xl bg-zinc-100">
            <video
              class="col-span-1"
              style=""
              aria-hidden=""
              autoplay=""
              poster="https://images.ctfassets.net/v44fuld738we/76fxGlxYrknd6M3Ze8jnbf/0ac4436237be8e8224757c0823787095/Crypto-Security-Fallback.png?w=1400&h=1400&q=92&fm=png&bg=transparent"
              muted=""
              loop=""
              preload="auto"
              disableremoteplayback=""
              playsinline=""
              aria-label="video"
              aria-describedby="desc-0e44ba23b9c0d6424cb5533372865720Crypto-Security-2mp4"
              ><source
                type='video/mp4; codecs="hvc1"'
                data-src="//videos.ctfassets.net/v44fuld738we/1jNZzeQIiDuFbktCxHP6F5/0e44ba23b9c0d6424cb5533372865720/Crypto-Security-2.mp4"
                src="//videos.ctfassets.net/v44fuld738we/1jNZzeQIiDuFbktCxHP6F5/0e44ba23b9c0d6424cb5533372865720/Crypto-Security-2.mp4"
              /><source
                type="video/webm"
                data-src="//videos.ctfassets.net/v44fuld738we/6oOeK4VNqYptR0ouP159Z4/e543b5cd7dac997cf1ae179e5ec6481a/Crypto-Security.webm"
                src="//videos.ctfassets.net/v44fuld738we/6oOeK4VNqYptR0ouP159Z4/e543b5cd7dac997cf1ae179e5ec6481a/Crypto-Security.webm"
              /><track kind="captions" src="" /></video
            >
          </div>
        </div>
        <div class="flex max-w-xl flex-col gap-8">
          <div>
            <h3 class="text-2xl font-medium">Insured and protected</h3>
            <p class="text-xl">
              Insurance held by us and our custodial partners helps protect your
              crypto against crime like hacks or theft. Our partners have over
              $75M in cold storage coverage each.
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-medium">Held by us, owned by you</h3>
            <p class="text-xl">
              Your crypto is held in trust and stored between us and our
              custodial partners. In the unlikely event of insolvency, your
              crypto is still yours.
            </p>
          </div>
          <div>
            <h3 class="text-2xl font-medium">Compliant from the start</h3>
            <p class="text-xl">
              We built our platform with regulatory guidance from the get-go. We
              work with regulators to make sure our app is reducing risk for
              crypto where possible.
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-12">
        <h2 class="max-w-[560px] text-6xl font-medium">
          Save on fees as your wealth grows
        </h2>

        <div class="grid h-96 grid-cols-3 gap-6">
          <div class="flex flex-col gap-4 rounded-2xl bg-zinc-100 p-8">
            <div class="text-[14px] font-light uppercase text-zinc-600">
              $1 in assets
            </div>
            <h2 class="text-4xl font-medium">Core</h2>
            <p>Get started with simple, low-fee financial tools.</p>
            <div class="gap-2">
              <p>✓ Safe coin storage</p>
              <p>✓ No fees to deposit or withdraw</p>
            </div>
            <div class="rounded-2xl bg-white p-4">
              <div class="text-4xl font-medium">2%</div>
              <div>trading fees</div>
            </div>
          </div>

          <div class="flex flex-col gap-4 rounded-2xl bg-zinc-200 p-8">
            <p class="text-[14px] font-light uppercase text-zinc-600">
              $100,000 in assets
            </p>
            <h2 class="text-4xl font-medium">Premium</h2>
            <p>
              Make the most of your investments with lower fees and tailored
              advice.
            </p>
            <div>
              <p>✓ All Core plan benefits</p>
              <p>✓ Lower trading fees per transaction</p>
            </div>
            <div class="rounded-2xl bg-white p-4">
              <h3 class="text-4xl font-medium">1%</h3>
              <p>trading fees</p>
            </div>
          </div>

          <div class="flex flex-col gap-4 rounded-2xl bg-zinc-900 p-8">
            <p class="text-[14px] font-light uppercase text-white">
              $500,000 in assets
            </p>
            <h3 class="text-4xl font-medium text-white">Generation</h3>
            <p class="text-white">
              Build your legacy with expert guidance from your dedicated team of
              advisors.
            </p>
            <div>
              <p class="text-white">✓ All Core and Premium benefits</p>
              <p class="text-white">✓ Higher yields on staked coins</p>
            </div>
            <div class="rounded-2xl bg-white p-4">
              <h3 class="text-4xl font-medium">0.5%</h3>
              <p>trading fees</p>
            </div>
          </div>
        </div>
      </div>

      <div class="relative flex flex-col gap-10 rounded-2xl bg-[#E4E9D3] p-16">
        <div class="flex flex-col gap-6">
          <div class="w-fit rounded-full bg-[#F5FAE7] px-5 py-2 font-light">
            WITH OUR PARTNER
          </div>
          <h2 class="max-w-[420px] text-6xl font-medium">
            Spend less on your mortgage
          </h2>
          <p class="max-w-xl text-xl">
            Get a rate rebate of up to 0.15% based on your client status. Plus,
            for a limited time, we'll give you an extra 0.05% rebate for every
            $50,000 you transfer to Wealthsimple.
          </p>
        </div>
        <button
          class="w-fit rounded-full border border-zinc-500 bg-white px-6 py-4"
        >
          More on mortgages
        </button>
        <video
          class="absolute bottom-0 right-0 w-[540px]"
          aria-hidden="false"
          autoplay=""
          muted=""
          loop=""
          preload="auto"
          disableremoteplayback=""
          playsinline=""
          aria-label="video"
          aria-describedby="desc-f5a889dc2fab735c51958e04e5e6df38mortgages-limitless-h265-en-CAmp4"
          ><source
            type='video/mp4; codecs="hvc1"'
            data-src="//videos.ctfassets.net/v44fuld738we/0VnfEvRwg5p0HDMuMGMrV/f5a889dc2fab735c51958e04e5e6df38/mortgages-limitless-h265-en-CA.mp4"
            src="//videos.ctfassets.net/v44fuld738we/0VnfEvRwg5p0HDMuMGMrV/f5a889dc2fab735c51958e04e5e6df38/mortgages-limitless-h265-en-CA.mp4"
          /><source
            type="video/webm"
            data-src="//videos.ctfassets.net/v44fuld738we/6W8vMX0Bm3FVmJHrYbvwpH/b161d6d5eb144c3358d4617276d1996f/mortgages-limitless-en-CA.webm"
            src="//videos.ctfassets.net/v44fuld738we/6W8vMX0Bm3FVmJHrYbvwpH/b161d6d5eb144c3358d4617276d1996f/mortgages-limitless-en-CA.webm"
          /><track kind="captions" src="" /></video
        >
      </div>

      <div class="flex flex-col items-center gap-12">
        <div class="flex flex-col items-center gap-6">
          <h2 class="text-6xl font-medium">Set your money in motion</h2>
          <p class="text-xl font-medium text-zinc-700">
            Get started with secure and simple crypto.
          </p>
        </div>
        <button class="w-fit rounded-full bg-zinc-200 px-6 py-4"
          >Get started</button
        >
      </div>

      <div></div>
    </main>
  </div>
</Layout>
