<div class="mx-auto">
  <header class="flex justify-between px-6 py-6">
    <div>
      <img
        class="h-6"
        src="https://www.wealthsimple.com/static/ws-wordmark-refresh-aefa986e4074a84f853576304d0c9763.svg"
      />
    </div>

    <div class="flex gap-8">
      <div class="rounded-full border border-gray-500 px-2 py-1">login</div>
      <div
        class="rounded-full border border-gray-500 bg-slate-500 px-2 py-1 text-white"
      >
        Get started
      </div>
    </div>
  </header>
  <main class="mx-auto max-w-7xl bg-red-300 px-6">
    <div>mama</div>
    <div>dada</div>
  </main>
</div>
